.notification-master__log--loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.notification-master__log {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	background-color: var(--notification-master-color-light);
	padding: 20px;
	min-height: 300px;
	width: 100%;
}
